
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,user-scalable=no,initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>圣诞狂欢222排行榜</title>

<link rel="stylesheet" type="text/css"	href="http://style.mc2113.com/dist/app/page/rank/css/merge.css?r=201412100210" />

<script type="text/javascript"
	src="http://style.mc2113.com/dist/lib/js/zepto/gmu/zepto.js"></script>

<script type="text/javascript"
	src="http://style.mc2113.com/dist/app/page/rank/js/merge.js?r=20141209020103"></script>
	
<script type="text/javascript">
	var gameData = {"conf":{"a_info":"&lt;p&gt;请填写奖券使用须知、注意事项及兑奖地点等相关说明。fdsfdsfs&lt;/p&gt;","infoContent":"摇晕了老人家，选个礼物快跑吧","infoTitle":"丧心病狂","m_intro":"","m_link":"http://www.baidu.com","shakeTimes":"5","shareDesc":"小手一抖么么哒，大家数钱给你花，小伙伴们抢钱啦！","shareIcon":"http://img2.t305.com/mcupload/m1/201412161039260616.jpg","shareSpeDesc":"您本次获得了%score%分，快分享给小伙伴吧","shareSpeTitle":"您本次获得了%score%分，快分享给小伙伴吧","shareTitle":"双11,别人花钱我抢钱!100%有礼!","tag":"适用上海市"},"info":{"anSiteId":1,"dateTime":"2014年12月19日-12月31日","gameEnd":true,"gameId":100052,"gameStart":true,"source":"","tag":"适用上海市","title":"圣诞狂欢222"}};
	
	var MY_URL =  "http://" + location.host + '/plugin/ushare/social_rank.htm?gameId=100052&source='+ "&puid=" + ""+ "&pticket=" + "" + "&ticket=" + "";
	
	var LOCAL_RANK =  "http://" + location.host + '/plugin/ushare/social_rank.htm?gameId=100052&source=&type=local'+ "&puid=" + ""+ "&pticket=" + "" + "&ticket=" + "";
	
	var ALL_RANK =  "http://" + location.host + '/plugin/ushare/social_rank.htm?gameId=100052&source=&type=all'+ "&puid=" + ""+ "&pticket=" + "" + "&ticket=" + "";
	
	//组团页面 
	var APP_CREATE_URL =  "http://" + location.host + '/plugin/ushare/play_social_game.htm?gameId=100052&source=' + "" + "&puid=" + ""+ "&pticket=" + "" + "&ticket=" + "";
	
	
	//分享 链接
	var SHARE_CREATE_URL ="http://" + location.host + '/plugin/ushare/play_social_game.htm?gameId=100052&source=' + "" + "&puid=" + "8121052841"+ "&pticket=" + "";
	
	
	var BACK_URL = APP_CREATE_URL;
	
</script>

</head>
<body>
	<input type="hidden" id="game-id" value="100052" />
	<input type="hidden" id="uid" value="8121052841" />
	<input type="hidden" id="source" value="" />
	<input type="hidden" id="type" value="local" />
<div id="xinxi">
					<img
				src="http://img2.t305.com/mcupload/m1/201412052005130989.jpg" />
				<p></p>
		<p>
			<span></span><span>哈哈的</span>
		</p>
		<p>我的奖券： 5 </p>
		<a href="" class="canyvh">已参与的活动</a>
	</div>
<ul class="tab-linee">
	<li><a href="http://www.baidu.com">热门活动</a></li>
	<li style="border-right: 1px solid #d10a00;border-left: 1px solid #d10a00;"><a>我的奖券</a></li>
	<li class="active"><a>获奖公告</a></li>
</ul>

	<div class="tab-lin">某某某活动获奖名单</div>
	<div class="ui-refresh">
		<ul class="data-list data-list-radiuss">
			<li><a> <strong>4</strong> 
				
					<img class="headingImage" data-src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLCsHFDgWFFv8By15zKRweicezFQ0KKSt4C8Me5ic015LsZ0omXicFz8Wa2dzLfDkp5STVVJib1EA8M6bg/0" src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLCsHFDgWFFv8By15zKRweicezFQ0KKSt4C8Me5ic015LsZ0omXicFz8Wa2dzLfDkp5STVVJib1EA8M6bg/0">
				 
				<dl>
					<dt></dt>
					<dt>黄贱强3</dt>
					<dd class="content shrink">卡丽兰手表一块&nbsp;&nbsp;</dd>
					<span class="mobi shrink">138****9658</span>
					<span class="timing shrink">3分钟前</span>
				</dl>
		</a></li>
		<li><a> <strong>4</strong> 
				
					<img class="headingImage" data-src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLCsHFDgWFFv8By15zKRweicezFQ0KKSt4C8Me5ic015LsZ0omXicFz8Wa2dzLfDkp5STVVJib1EA8M6bg/0" src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLCsHFDgWFFv8By15zKRweicezFQ0KKSt4C8Me5ic015LsZ0omXicFz8Wa2dzLfDkp5STVVJib1EA8M6bg/0">
				 
				<dl>
					<dt></dt>
					<dt>黄贱强3</dt>
					<dd class="content shrink">卡丽兰手表一块&nbsp;&nbsp;</dd>
					<span class="fmobi shrink">未填写领奖信息</span>
					<span class="timing shrink">10分钟前</span>
				</dl>
		</a></li>
		
		</ul>
		<div class="huitui">
			<span class="huituic">返回首页</span>
		</div>
		<div class="ui-refresh-down"></div>
		
	</div>
	
	<div id='game_mask'></div>
	
	
	
	<div id="liTpl" style="display: none;">
		<li><a> <strong>{{rankId}}</strong> 
				{{if avatar}}
					<img class="headingImage" data-src="{{avatar}}" />
				{{/if}} 
				<dl>
					<dt></dt>
					<dt>{{nickName}}</dt>
					<dd class="content">最佳时间:{{score}}</dd>
				</dl>
		</a></li>
	</div>

	<div id="activityTpl" style="display: none;">
		<li><a> <strong>{{rankId}}</strong> 
				{{if avatar}}
					<img  class="headingImage" data-src="{{avatar}}" />
				{{/if}} 
				<dl>
					<dt></dt>
					<dt>{{nickName}}</dt>
					<dd class="content">人气:{{popular}}  </dd>
				</dl>
		</a></li>
	</div>
	<div id="fh"></div>
	<script type="text/javascript">
    $(function(){
    	$('.huitui').on('click',function(){
    		//console.log(BACK_URL)
    		window.location = BACK_URL;
    		return false
    	})
    	$('#xinxi').on("touchstart","#lading",function(ev){
    		ev.preventDefault;
    		$("#game_mask").show();
    		return false
    	})
    	$("#game_mask").on("click",function(ev){
    		ev.preventDefault;
    		$(this).hide();
    		return false
    	});
    	$(".tab .tab1").on("click",function(ev){
    		ev.preventDefault;
    		location.href= MY_URL;
    	});
    	$(".tab .tab2").on("click",function(ev){
    		ev.preventDefault;
    		location.href= LOCAL_RANK;
    	});
    	$(".tab .tab3").on("click",function(ev){
    		ev.preventDefault;
    		location.href= ALL_RANK;
    	});
        var currentPage = 0;
		var totalPage = 1;
        $('.ui-refresh').refresh({
            load: function (dir, type) {
                var me = this;
                if (currentPage >= parseInt(totalPage)) {
					me.disable('down');
					me.afterDataLoading();
					$('.ui-refresh-down').hide();
					
					return;
				}
				currentPage += 1;
				
        	
				var params = "method=searchCommonScoreRank";
				if($('#type').val()) {
					if($('#type').val() == "local" || $('#type').val() == 'all'){
						params="method=searchCommonPopular";	
						params =  params + "&type=" + $('#type').val();
					} else{
						params="method=searchCommonScoreRank";
						params =  params;
					}
				}
				
				if($('#game-id').val()) {
						params =  params + "&gameId=" + $('#game-id').val();
				}
				params =  params + "&source=" + $("#source").val();
				var dataList = $('.data-list');
        		Zepto.getJSON('/plugin/ushare/social_api.htm?' + params +'&page=' + currentPage, function(data) {
						if (data.code == "200") {
							var retData = data.data;
							if(!retData) {
								$('.ui-refresh-down').hide();
								if(currentPage == 1) {
									dataList[dir == 'up' ? 'prepend' : 'append']("<li>暂时为空！</li>");
								}
								me.afterDataLoading();
								return;
							}
							//总页数
							totalPage = retData.totalPage;
							if(totalPage <= 1){
									$('.ui-refresh-down').hide();
							}
							
							html = (function(retData) {
								var litpl = [];
								Zepto.each(retData.dataList, function() {
									var dataTpl = this;
									var type = $('#type').val();
									if(type &&  (type == "local" || type == 'all' || type == 'team') ) {
										var tpl = template.render('activityTpl', dataTpl);
										litpl.push(tpl);
									} else {
										var temp;var score;var tempScore; 
										temp = dataTpl;
										score = parseInt(temp.score);
										var sec = parseInt(score/1000);
										var min = parseInt(sec/60);
										var mills = score - sec*1000;
										sec = sec - min*60;
										tempScore = mills+"毫秒"
										if(sec>0){
											tempScore=sec+"秒"+tempScore;
										}
										if(min>0){
											tempScore=min+"分"+tempScore;
										}
										temp.score = tempScore;
										var tpl = template.render('liTpl', temp);
										litpl.push(tpl);
									}
								});
								return litpl.join('');
							})(retData);
						}
						dataList[dir == 'up' ? 'prepend' : 'append'](html);
						$(".headingImage").each(function() {
							if($(this).data("src") && $(this).data("src")!="{{avatar}}"){
								$(this).attr("src",$(this).data("src"));
							}
						});
						me.afterDataLoading();
				});
				
				
            }
        });
        
        $('.ui-refresh-down').trigger("click");
		
    });
</script>

<!-- weixinApi -->
<script type="text/javascript">
// 微信分享的数据
		var defUrl = APP_CREATE_URL;
		window.shareData  = {
		        "appId": "wxef0a31e6474cb4c7", // 服务号可以填写appId
		        "imgUrl" : gameData.conf.shareIcon,
		        "link" : SHARE_CREATE_URL,
		        "desc" : gameData.conf.shareDesc,
		        "title" : gameData.conf.shareTitle
		 };
		// 开发阶段，开启WeixinApi的调试模式
		//WeixinApi.enableDebugMode();
		// 初始化WeixinApi，等待分享
		WeixinApi.ready(function(Api) {
		    // 分享的回调
		    var wxCallbacks = {
		        favorite : false,
		        ready : function() {},
		        // 分享被用户自动取消
		        cancel : function(resp) {
						_paq &&  _paq.push(['trackEvent', 'click', 'share-cancel']);
		        },
		        fail : function(resp) {
						_paq && _paq.push(['trackEvent', 'click', 'share-fail']);
		        },
		        confirm : function(resp) {
						_paq && _paq.push(['trackEvent', 'Share', 'share-friends']);
		        },
		        all : function(resp,shareTo) {}
		    };
		    // 用户点开右上角popup菜单后，点击分享给好友，会执行下面这个代码
		    Api.shareToFriend(window.shareData, wxCallbacks);
		    // 点击分享到朋友圈，会执行下面这个代码
		    Api.shareToTimeline(window.shareData, wxCallbacks);
		    // 点击分享到腾讯微博，会执行下面这个代码
		    Api.shareToWeibo(window.shareData, wxCallbacks);
		    // iOS上，可以直接调用这个API进行分享，一句话搞定
		    Api.generalShare(window.shareData,wxCallbacks);
		});
		if(WeixinApi.openInWeixin()) {
			setTimeout(function() {
				WeixinApi.showOptionMenu();
			}, 4000);
		}
		
</script>
<!-- End weixinApi Code -->
	
<!-- tongji -->
<script type="text/javascript">
  function getCookie(c_name) {
		try {
			if (document.cookie.length > 0) {
				c_start = document.cookie.indexOf(c_name + "=");
				if (c_start != -1) {
					c_start = c_start + c_name.length + 1;
					c_end = document.cookie.indexOf(";", c_start);
					if (c_end == -1) {
						c_end = document.cookie.length
					}
					var cookieValue =	 document.cookie.substring(c_start, c_end);
					cookieValue = cookieValue.replace("\"", "").replace("\"", "");
					return decodeURIComponent(cookieValue);
				}
			}
		} catch (err) {
		}
		return ""
  }
  

  var tongjiSetting = {
		 siteId : "1",
		 uid : getCookie("m_last_loginid_"),
		 nickName : getCookie("m_nick_name"),
		 piwik_visitor_id : ""
  };
  var _paq = _paq || [];
  _paq.push(['setCustomVariable', 1, "uid", tongjiSetting.uid ,"visit"]);
  _paq.push(['setCustomVariable', 2, "nickName", tongjiSetting.nickName,"visit"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//tongji.mc2113.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push([function() {
    	tongjiSetting.piwik_visitor_id = this.getVisitorId();
	}]);
    _paq.push(['setSiteId', tongjiSetting.siteId]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End tongji Code -->

</body>
</html>