var keywordJsonTree = {
		   innerJsonData : reJson,
		   update:function(key,json) {
			   for(var num=0;num < this.innerJsonData.length;num++) {
				   if(this.innerJsonData[num].key == key) {
					   this.innerJsonData.remove(num);
					   this.innerJsonData.push(json);
					   return true;
				   }
			   }
			   return false;
	       },
	       add:function(key,json) {
	    	   //未传入默认创建
	    	   if(!json) {
	    		   	json = {};
	    			json.key=key;
					json.type='text';
					json.content='';
	    	   }
	    	   for(var num=0;num < this.innerJsonData.length;num++) {
				   if(this.innerJsonData[num].key == key) {
					   return false;
				   }
			   }
	    	   this.innerJsonData.push(json);
	    	   return true;
	       },
	       remove:function(key) {
	    	   for(var num=0;num < this.innerJsonData.length;num++) {
				   if(this.innerJsonData[num].key == key) {
					   this.innerJsonData.remove(num);
					   return true;
				   }
			   }
	    	   return false;
	       },
	       getByKey:function(key) {
	    	   for(var num=0;num < this.innerJsonData.length;num++) {
				   if(this.innerJsonData[num].key == key) {
					   return  this.innerJsonData[num];
				   }
			   }
	    	   return null;
	       },
	       getAll:function() {
	    	   return  this.innerJsonData;
	       },
	       updateKey:function(oldKey,newKey) {
	    	   for(var num=0;num < this.innerJsonData.length;num++) {
				   if(this.innerJsonData[num].key == oldKey) {
					   this.innerJsonData[num].key = newKey;
					   return true;
				   }
			   }
	    	   return false;
	       }
}

Array.prototype.remove=function(dx) { 
    if(isNaN(dx)||dx>this.length){return false;} 
    for(var i=0,n=0;i<this.length;i++) 
    { 
        if(this[i]!=this[dx]) 
        { 
            this[n++]=this[i] 
        } 
    } 
    this.length-=1 
}
/**根据数据结构刷新节点**/
function refreshTreeDom() {
	var jsonData = keywordJsonTree.getAll();
	$(".inner_menu_box").empty();
	$('.content-area').html("");
	$(".tab_text").trigger("click");
	$('#menuItemTmpl').tmpl(jsonData).appendTo('.inner_menu_box');
	$(".inner_menu_box").height('auto');
}

function successCallBack() {
		var pics = picCart.getPics();
		if(pics.length == 0) {
			alert("请至少选择一条图文");
			return false;
		}
		imgtextAdd(pics);
		picCart.clear();
		return true;
	}
	
function imagesCallback(t,args) {
	if(args && args.length > 0) {
		var content='<img src="'+args[0].src+'!320">';
		$('.content-area').html(content);
	}
}

function imgtextAdd(pics){
	var content='';
	for(var i = 0 ; i < pics.length; ++i) {
		if(i==0){
			content=$('#appmsgTmpl').tmpl(pics[i]);
		}else{
			content=$('#appmsgTmpl2').tmpl(pics[i]);
		}
		$('.content-area').append(content);
	}

}

$(document).ready(function(){
	var isUpdate = false;
	refreshTreeDom();
	
	$('.wtab').click(function(){
		$(this).addClass('selected');
		$(this).siblings().removeClass('selected');
		$('.content-area').html("");
		if($(this).hasClass('tab_text')){
			$('.content-area').attr('contenteditable',true);
		}else{
			$('.content-area').attr('contenteditable',false);
		}
	});
	
	function getEditJsonContent(){
		
		var li=$('.btn-success').siblings('ul').children('.selected');
		
		var json={};
		// 存储 文字
		if(li.hasClass('tab_text')){
			var text=$(".content-area").text();
			
			// {‘key’:’welcome’,’type’:‘text’,‘content’:‘欢迎您’}
			
				json.key=$('.sselected').find('strong').text();
				json.type='text';
				json.content=text;
				
		
		}else if(li.hasClass('tab_img')){
			var imghtml=$(".content-area").html();
				var imgUrl = imghtml.substring(imghtml.indexOf('src="')+5);
					imgUrl = imgUrl.substring(0,imgUrl.indexOf('"'));
					
			// {‘key’:’welcome’,‘type’:‘image’,‘content’:’http://www.baidu.com'}
			
				json.key=$('.sselected').find('strong').text();
				json.type='image';
				json.content=imgUrl;
				
			
		
		}else if(li.hasClass('tab_video')){
			var youkuUrl=$('.youkuUrl').val();
			// {‘key’:’welcome’,‘type’:‘video’,‘subtype’:‘youku’,‘content’:’http://www.baidu.com'}
			
				json.key=$('.sselected').find('strong').text();
				json.type='video';
				json.subtype='youku';
				json.content=youkuUrl;
				
			
		
		}else if(li.hasClass('tab_imgtxt')){
			var imgtxts=$('.appmsg');
		
			// {‘key’:’welcome’,‘type’:‘imgtext’,‘imgtextList’:[{‘id’:’1112’,’url’:’http://www.baidu.com’},{‘id’:’1112’,’url’:’’}]}
			var imgtextList=[];
			
			for(var i=0;i<imgtxts.length;i++){
				var eachjson={};
				eachjson.id=$(imgtxts[i]).data('id');
				eachjson.url=$(imgtxts[i]).data('url');
				eachjson.title=$(imgtxts[i]).data('title');
				eachjson.pic=$(imgtxts[i]).data('pic');
				eachjson.summary=$(imgtxts[i]).data('summary');
				imgtextList.push(eachjson);
			}
				json.key=$('.sselected').find('strong').text();
				json.type='imgtext';
				json.imgtextList=imgtextList;
				
		}
		return json;
	}
	

	$('.btn-success').click(function(){
			var key=$('.inner_menu_box').eq(0).find('.sselected').find('strong').text();
			if(key) {
				keywordJsonTree.update(key,getEditJsonContent());
				alert('保存成功！');
			} else {
				alert('请先添加关键字！');
			}
	})
	
	
	
	$('#save_all').click(function(){
			      var tobeSubmitJson = keywordJsonTree.getAll();
			      for(var num=0;num < tobeSubmitJson.length;num++) {
					   if(!tobeSubmitJson[num].content && !tobeSubmitJson[num].imgtextList) {
						   alert("请先设置" + tobeSubmitJson[num].key + "对应的规则");
						   return false;
					   }
			      }
				var reqUrl = "/uapi/mp_config.htm";
				var reJso=JSON.stringify(tobeSubmitJson);
				//console.log(reJso);
				var mpId=$('#mpId').val();
	    	    var reqParams = "config="+reJso+"&method=addKeywordConfig&backType=json&mpId="+mpId;
	        	var successFun = function(result){
	        		alert(result.data);
	        			// 跳转管理页面
	        		location.href="/user/mp_list.htm";
	        	};
	        	
	        	var failFun = function(result) {
					alert(result.data);	
				}
	        	ajaxJsonRequestExt(reqUrl,reqParams,successFun,failFun);
	});
	


	$(".id-btn-dialog2").on('click',function(e){
		e.preventDefault();
		$("#dialog-confirm").removeClass('hide').dialog({
			resizable : false,
			modal : true,
			title : "添加视频",
			title_html : true,
			buttons : [{
					html : "<i class='icon-trash bigger-110'></i>&nbsp; 提交视频",
					"class" : "btn btn-danger btn-xs",
					click : function() {
						var youkuUrl=$('.youkuUrl').val();
						var youkuid =youkuUrl.substring(youkuUrl.indexOf('id_')+3,youkuUrl.indexOf('.html'));
						var content="<EMBED height=400 type=application/x-shockwave-flash align=middle width=480 src=http://static.youku.com/v/swf/qplayer.swf?VideoIDS=";
							content+=youkuid;
							content+='=&isAutoPlay=false&isShowRelatedVideo=false&embedid=-&showAd=0 allow.Access="always"></EMBED>';
						$('.content-area').html(content);
					
						$(this).dialog("close");
					}
				},
				{
					html : "<i class='icon-remove bigger-110'></i>&nbsp; Cancel",
					"class" : "btn btn-xs",
					click : function() {
						$(this).dialog("close");
				}
			}]
		});
	});
	
	$(".id-btn-dialog1").on('click', function(e) {
		e.preventDefault();
		showModalDialog("/user/pic_select.htm", "请选择图文",950, 500, successCallBack);
	});
	



	

		$('#addBt').click(function(){
			isUpdate = false;
			 $("input[name='add_dialog_middle_input']").val("");
			$('.add_mask').eq(0).css('height',800+$(window).height());
			$('.add_mask').eq(0).css('width',190+$(window).width());
			if($('.add_mask').eq(0).css('display') == 'none'){
					$('.add_mask').show();
			} else{
					$('.add_mask').hide();
			}
			return false;
		});
		

		$("body").on("click", '.edit_gray', function(e){
					//console.log(this);
					$(".inner_menu.sselected").removeClass('sselected');
					$(this).parent().parent().parent().addClass('sselected');
					// .siblings().removeClass('sselected');
					var that=this;
					isUpdate = true;
					$('.add_mask').eq(0).css('height',800+$(window).height());
			$('.add_mask').eq(0).css('width',190+$(window).width());
					var con=$(this).parent().parent().find('strong').text();
					// console &&
					// console.log($(this).parent().parent().find('strong').text())
					$("input[name='add_dialog_middle_input']").val(con);
					$('.add_mask').show();
					return false;
		});
		
		$("body").on("click", '.del_gray', function(e){
				if(confirm("确认删除吗？")){
					var key = $(this).parent().parent().parent().find('strong').text();
					keywordJsonTree.remove(key);
					refreshTreeDom();
					//$(this).parent().parent().parent().remove();
				}
		});
						
		$('.add_mask_b1').on('click',function(e){
				var key= $("input[name='add_dialog_middle_input']").val();
				// 更新操作
				if(isUpdate) {
					keywordJsonTree.updateKey($(".inner_menu.sselected strong").text(),key);
					$(".inner_menu.sselected strong").text(key);
				} else {
					keywordJsonTree.add(key,'');
				}
				refreshTreeDom();
				//addDl(con2);
				$('.add_mask').hide();
				return false;
		});
		
		$('.add_pop_closed').eq(0).click(function(){
			$('.add_mask').hide();
		});
		
		$('.add_mask_b2').eq(0).click(function(){
			$('.add_mask').hide();
		});
		
		
	
		
		
		
	
		
		function youkuVideoAdd(youkuUrl){
			var youkuid =youkuUrl.substring(youkuUrl.indexOf('id_')+3,youkuUrl.indexOf('.html'));
			var content="<EMBED height=400 type=application/x-shockwave-flash align=middle width=480 src=http://static.youku.com/v/swf/qplayer.swf?VideoIDS=";
				content+=youkuid;
				content+='=&isAutoPlay=false&isShowRelatedVideo=false&embedid=-&showAd=0 allow.Access="always"></EMBED>';
			$('.content-area').html(content);		
		}
		
		
		$("body").on("click", '.inner_menu', function(){	
			$('.msg_tab').show();
			$(this).addClass('sselected').siblings().removeClass('sselected');
			$('.content-area').html("");
			var key = $(".inner_menu.sselected strong").text();
			var selJsonNode = keywordJsonTree.getByKey(key);
			if(selJsonNode){
					if(selJsonNode.type){
							if( selJsonNode.type=='text' ){
								$(".tab_text").trigger("click");
								$('.content-area').html( selJsonNode.content );
							}
							else if(selJsonNode.type=='image' ){
								$(".wtab").removeClass("selected");
								$(".tab_img").addClass('selected');
								$('.content-area').attr('contenteditable',false);
								$('.content-area').html( "<img src='"+selJsonNode.content+"'/>" );
							}
							else if(selJsonNode.type=='video' ){
								$(".wtab").removeClass("selected");
								$(".tab_video").addClass('selected');
								$('.content-area').attr('contenteditable',false);
								youkuVideoAdd( selJsonNode.content);
								
							} else if(selJsonNode.type=='imgtext' ){
								$(".wtab").removeClass("selected");
								$(".tab_imgtxt").addClass('selected');
								$('.content-area').attr('contenteditable',false);
								imgtextAdd(selJsonNode.imgtextList );
							}
				    }
			}else{
				$('.content-area').html("");
			}
			
		})
		
});
