#set($layout = "ucenter.vm")
<input id="open-menu" type="hidden" value="weixin-menu" />
<input id="active-menu" type="hidden" value="weixin-menu-2" />
<style>

	.js_textArea {
		border: 1px solid #e7e7eb;
	}
	
	.edit_area {
		padding: 14px 20px;
		outline: 0;
		word-wrap: break-word;
		word-break: break-all;
		height:auto;
		min-height:188px;
	}
	
	.control-panel input{
		width:200px;
		margin-bottom:30px;
	}
	
	.add-keyword{
		display:inline-block;
		height:35px;
		line-height:10px;
	}
	
	.each-keyword{
		margin:20px; 1px; 
	}
	
			
</style>
<style type="text/css">
	body{line-height: 1.6;font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","微软雅黑","黑体",Arial,sans-serif;color: #222;font-size: 14px;}
	dl{margin-bottom:0;}
	.inner_side{border: 1px solid #e7e7eb;width: 27%;max-width: 240px;}
	.bd{min-height:500px;}
    .sub_title_bar{line-height: 36px;padding: 0 12px;font-size: 0;}
    .sub_title_bar.light{background-color: #f4f5f9;border-bottom: 1px solid #e7e7eb;}
	.sub_title_bar h4{float: left;font-weight: 400;font-style: normal;font-size: 14px;}
	.sub_title_bar .opr_wrp{text-align:center;}
	.opr_wrp .opr_meta{margin-left:105px;}
	.icon16_common.add_gray{background: url("http://style.t305.com/images/base_z20273e.png") 0 -4460px no-repeat;}
	.icon16_common{width: 16px;height: 16px;vertical-align: middle;display: inline-block;line-height: 100px;overflow: hidden;}
	.inner_menu_box{position: relative;margin-bottom: 14px;}
	.inner_menu{margin-top: 0;}
	.inner_menu:first-child {border-top-width: 0;}
	.inner_menu{border-top: 1px solid #e7e7eb;}
	.inner_menu_item.selected{background-color: #f4f5f9;}
	.inner_menu_item{position: relative;line-height: 32px;}
	.inner_menu_link{padding-left: 20px;display: block;color: #222;}
	.inner_menu_link strong{width: 80px;display: inline-block;margin-top: -2px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;max-width: 80px;font-weight: 400;font-style: normal;vertical-align: middle;cursor: pointer;}
	.inner_menu_item.selected .menu_opr{display: block;background-color: #f4f5f9;}
	.inner_menu:hover .menu_opr{display: block;}
	.inner_menu:hover .inner_menu_item{background-color: #f4f5f9;}
	.sselected{background-color: #f4f5f9;}
	.inner_menu .menu_opr{display: none;position: absolute;top: 0;right: 1em;}
	.inner_menu .menu_opr a{display: inline-block;margin-left: .5em;margin-top: -0.2em;}
	.icon14_common.edit_gray{background: url("http://style.t305.com/images/base_z20273e.png") 0 -3647px no-repeat;}
	.icon14_common.del_gray{background: url("http://style.t305.com/images/base_z20273e.png") 0 -3695px no-repeat;}
	.icon14_common{width: 14px;height: 14px;vertical-align: middle;display: inline-block;line-height: 100px;overflow: hidden;}
	
	.add_mask{background-color:black;-opacity:0.6;filter:alpha(opacity=60%);position:relative;z-index:10001;width:100%;height:100%;top:-111px;display:none;}
	.add_dialog{background: white;position: absolute;width: 650px;left: 50%;margin-left: -250px;top: 30%;height: 398px;margin-top: -250px;text-align: center;}
	.add_dialog_head{line-height: 52px;height: 52px;border-bottom-width: 0;position: relative;
padding: 0 20px;background-color: #f4f5f9;}
	.add_dialog_head h3{margin:0;line-height:52px;text-align: left;}
	.add_pop_closed{background: url("http://style.t305.com/images/base_z20273e.png") 0 -2709px no-repeat;position: absolute;top: 50%;margin-top: -8px;right: 20px;width: 16px;height: 16px;line-height: 999em;overflow: hidden;}
	.msg_tab{z-index:8888;display:none;}
	.add_dialog_middle{padding-top:50px;}
	.add_dialog_middle_p{text-align: center}
	.add_dialog_foot{background-color:#f4f5f9;position: absolute;width:100%;height: 100px;line-height:100px;text-align: center;bottom:0;}
	.add_mask_b1{position: absolute;left: 180px;top: 35px;-webkit-transition:all 100ms;transition:all 100ms;border-radius: 3px;width: 100px;height: 30px;line-height:30px;display:inline-block;background:green;color:white;cursor:pointer;}
	.add_mask_b2{position: absolute;left: 360px;top: 35px;-webkit-transition:all 100ms;transition:all 100ms;border-radius: 3px;width: 100px;height: 30px;line-height:30px;display:inline-block;background:white;cursor:pointer;}
	.add_mask_b1:hover{width:110px;}
	.add_mask_b2:hover{width:110px;}
	#save_all{position: absolute;width: 200px;left: 0;top: 450px;}
	
	
	
	
</style>
<link rel="stylesheet" href="http://style.t305.com/ace/assets/css/jquery-ui-1.10.3.full.min.css" />
<link rel="stylesheet" href="http://style.t305.com/mc/css/page/imageText.css" />
<link rel="stylesheet" href="http://style.t305.com/mc/css/page/tab.css" />
<input type="hidden" value="$!mpId" id="mpId">
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
						try {
							ace.settings.check('breadcrumbs', 'fixed')
						} catch (e) {
						}
					</script>

		<ul class="breadcrumb">
			<li><i class="icon-home home-icon"></i> <a href="/ucenter.htm">主页</a>
			</li>
			<li><a>微信接入管理</a></li>
			<li><a href="/user/mp_list.htm">公众号管理</a></li>
			<li class="active">规则配置</li>
		</ul>
	</div>
	<div class="config-content">
		<div class="col-sm-12 widget-container-span ui-sortable">
			<div class="widget-box transparent">
				<div class="widget-header">
					<h4 class="lighter">公众号:&nbsp;$!mpName   &nbsp;  &nbsp;规则配置</h4>

					<div class="widget-toolbar no-border">
						<ul class="nav nav-tabs" id="myTab2">
							<li>
								<a href="/user/mp_conf.htm?mpId=$!mpId">欢迎配置</a>
							</li>
							<li class="active">
								<a data-toggle="tab" href="#config">规则配置</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main padding-12 no-padding-left no-padding-right">
						<div class="tab-content padding-4">
							<div id="config" class="tab-pane in active">
								<div class="slimScrollDiv" ><div class="slim-scroll" data-height="100" >
									<div class="inner_side">
										<div class="bd">
											<div class="menu_manage">
												<div class="sub_title_bar light clearfix">
													<h4> 菜单管理    </h4>
													<div class="opr_wrp">
														<a href="javascript:void(0);" id="addBt" class="opr_meta icon16_common add_gray">添加</a>
													</div>
												</div>
												<div class="inner_menu_box gray" id="dlBox">
													<dl class='inner_menu ' id='men_0'>
														<dt class="inner_menu_item" id="menu_0">
															<a href="javascript:void(0);" class="inner_menu_link"><strong>123</strong></a>
															<span class="menu_opr">
																<a href="javascript:void(0);" class="icon14_common  edit_gray jsEditBt">编辑</a>
																<a href="javascript:void(0);" class="icon14_common del_gray jsDelBt">删除</a>
															</span>
														</dt>
													</dl>
													<dl class="inner_menu " id='men_1'>
														<dt class="inner_menu_item" id="menu_1">
															<a href="javascript:void(0);" class="inner_menu_link"><strong>1234</strong></a>
															<span class="menu_opr">
																<a href="javascript:void(0);" class="icon14_common  edit_gray jsEditBt">编辑</a>
																<a href="javascript:void(0);" class="icon14_common del_gray jsDelBt">删除</a>
															</span>
														</dt>
													</dl>
												</div>
											</div>
										</div>
									 </div>
									
										
									</div>
									<div class="msg_tab" style="width:60%; margin-left:40%; position:absolute; top:100px;">
											<ul class="tab_navs">
										        <li class="tab_nav tab_text selected wtab" data-type="1" data-tab=".js_textArea" data-tooltip="文字">
												    <a href="javascript:void(0);">&nbsp;<i class="icon-comment"></i></a>
											    </li>
										        <li class="tab_nav tab_img wtab upload-img-btn title-img-btn" data-type="2" data-tab=".js_imgArea" data-tooltip="图片">
												    <a href="javascript:void(0);">&nbsp;<i class="icon-folder-open"></i></a>
											    </li>
										        <li class="tab_nav tab_video wtab id-btn-dialog2" data-type="3" data-tab=".js_audioArea" data-tooltip="视频" >
												    <a href="javascript:void(0);">&nbsp;<i class="icon-facetime-video"></i></a>
											    </li>
										        <li class="tab_nav tab_imgtxt no_extra wtab id-btn-dialog1" data-type="15" data-tab=".js_videoArea" data-tooltip="图文" >
												    <a href="javascript:void(0);">&nbsp;<i class="icon-folder-open"></i></a>
											    </li>
											</ul>
											
											<div class="js_textArea inner no_extra">
											    <div class="edit_area js_editorArea" style="display: none;">
											    </div>
											    	<div class="edit_area js_editorArea content-area" contenteditable="true" style="overflow-y: auto; overflow-x: hidden; ">
											    </div>
											    
											</div>
										
											<button id="loading-btn" type="button" class="btn btn-success" style="float:right;">&nbsp;保&nbsp;存&nbsp;</button>
											<button id="save_all" type="button" class="btn">提交</button>
									</div>
								</div><div class="slimScrollBar ui-draggable" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 47.8468899521531px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; display: none; background: rgb(51, 51, 51);"></div></div>
							</div>
							<div id="others" class="tab-pane">
								<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100px;"><div class="slim-scroll" data-height="100" style="overflow: hidden; width: auto; height: 100px;">
								</div><div class="slimScrollBar ui-draggable" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!--
	</div>
	<!--  config  content -->
</div>

<!-- #dialog for video -->
<div id="dialog-confirm" class="hide">
	优酷地址:<input type="text" class="youkuUrl">
	
</div>
<!-- #dialog-confirm -->
<!-- #add gongzhong start -->
<div class="add_mask">
	<div class="add_dialog">
		<div class="add_dialog_head">
			<h3>请在下方输入要添加的内容</h3>
			<a href="javascript:;" onclick="return false" class=" add_pop_closed"></a>
		</div>
		<div class="add_dialog_middle">
			<div class="add_dialog_middle_p">
				<p>菜单名称不多于五个字符</p>
				<input type="text" name="add_dialog_middle_input"/>
			</div>
		</div>
		<div class="add_dialog_foot">
			<div class="add_mask_b1">确认</div>
			<div class="add_mask_b2">取消</div>
		</div>
	</div>
</div>
<!-- #add gongzhong end -->

<script src="http://style.t305.com/js/mmoree/module/dialog-mask-v1.6.js"></script>	
<script src="http://style.t305.com/js/lib/zepto/zepto.min.js"></script>
<script src="http://style.t305.com/module/gmu/js/extend/parseTpl.js"></script>		
<script type="text/javascript">

function successCallBack() {
		var pics = picCart.getPics();
		if(pics.length == 0) {
			alert("请至少选择一条图文");
			return false;
		}
		var content='';
		for(i = 0 ; i < pics.length; ++i) {
			//alert(pics[i].id + ":" + pics[i].title);
			//return pics;
			if(i==0){
				content+='<div id="appmsg';
				content+=pics[i].id;
				content+='" style="width:320px">';
				content+='<div class="appmsg" data-id="';
				content+=pics[i].id;
				content+='" data-url="';
				content+=pics[i].url;
				content+='">';
				content+='<div class="appmsg_content">';
				content+='<h4 class="appmsg_title">';
				content+='<a href="" target="_blank">';
				content+=pics[i].title;
				content+='</a>';
				content+='</h4>';
				content+='<div class="appmsg_info">';
				//日期数据为空
				content+='<em class="appmsg_date">$formater.dateToString($!kwContent.gmtCreate,"yyyy-MM-dd")</em>';
				content+='</div>';
				content+='<div class="appmsg_thumb_wrp">';
				content+='<img src="';
				content+=pics[i].pic;
				content+='!300.130" alt="" class="appmsg_thumb">';
				content+='</div>';
				//概述也木有
				content+='<p class="appmsg_desc">$!webUtil.left("';
				content+=pics[i].summary;
				content+='",60,"...")</p>';						
				content+='</div>';
				content+='<div class="appmsg_mask"></div>';
				content+='</div>';
				content+='</div>';
			}else{
				content+='<div id="appmsg';
				content+=pics[i].id;
				content+='" style="width:320px;height:120px;margin-top:-21px;">';
				content+='<div class="appmsg" style="height:120px;" data-id="';
				content+=pics[i].id;
				content+='" data-url="';
				content+=pics[i].url;
				content+='">';
				content+='<div class="appmsg_item"  style="height:120px;"  >';
				content+='<h4 class="appmsg_title" style="width:150px;margin-left:10px;">';
				content+='<a href="" target="_blank">';
				content+=pics[i].title;
				content+='</a>';
				content+='</h4>';
				content+='<div class="appmsg_info">';
				//日期数据为空
				content+='<em class="appmsg_date">$formater.dateToString($!kwContent.gmtCreate,"yyyy-MM-dd")</em>';
				content+='</div>';
				content+='<div class="">';
				content+='<img src="';
				content+=pics[i].pic;
				content+='!100.100" alt="" class="appmsg_thumb" style="margin-top:-70px;">';
				content+='</div>';
				content+='</div>';
				content+='<div class="appmsg_mask"></div>';
				content+='</div>';
				content+='</div>';
			}
		}
		$('.content-area').html(content);
		picCart.clear();
		
		return true;
	}
	
function imagesCallback(t,args) {
	if(args && args.length > 0) {
		var content='<img src="'+args[0].src+'!320">';
		$('.content-area').html(content);
	}
}
$(document).ready(function(){
	$('.wtab').click(function(){
		$(this).addClass('selected');
		$(this).siblings().removeClass('selected');
		$('.content-area').html("");
		if($(this).hasClass('tab_text')){
			$('.content-area').attr('contenteditable',true);
		}else{
			$('.content-area').attr('contenteditable',false);
		}
	});
	
	function reCon(){
		var li=$('.btn-success').siblings('ul').children('.selected');
		var json={};
		//存储 文字
		if(li.hasClass('tab_text')){
			var text=$(".content-area").text();
			
			//{‘key’:’welcome’,’type’:‘text’,‘content’:‘欢迎您’}
			
				json.key=$('.sselected').find('strong').text();
				json.type='text';
				json.content=text;
				
		
		}else if(li.hasClass('tab_img')){
			var imghtml=$(".content-area").html();
				var imgUrl = imghtml.substring(imghtml.indexOf('src="')+5);
					imgUrl = imgUrl.substring(0,imgUrl.indexOf('"'));
					
			//{‘key’:’welcome’,‘type’:‘image’,‘content’:’http://www.baidu.com'}
			
				json.key=$('.sselected').find('strong').text();
				json.type='image';
				json.content=imgUrl;
				
			
		
		}else if(li.hasClass('tab_video')){
			var youkuUrl=$('.youkuUrl').val();
			//{‘key’:’welcome’,‘type’:‘video’,‘subtype’:‘youku’,‘content’:’http://www.baidu.com'}
			
				json.key=$('.sselected').find('strong').text();
				json.type='video';
				json.subtype='youku';
				json.content=youkuUrl;
				
			
		
		}else if(li.hasClass('tab_imgtxt')){
			var imgtxts=$('.appmsg');
		
			//{‘key’:’welcome’,‘type’:‘imgtext’,‘imgtextList’:[{‘id’:’1112’,’url’:’http://www.baidu.com’},{‘id’:’1112’,’url’:’’}]}
			var imgtextList=[];
			
			for(var i=0;i<imgtxts.length;i++){
				var eachjson={};
				eachjson.id=$(imgtxts[i]).data('id');
				eachjson.url=$(imgtxts[i]).data('url');
				imgtextList.push(eachjson);
			}
				json.key=$('.sselected').find('strong').text();
				json.type='imgtext';
				json.imgtextList=imgtextList;
				
		}
		return json;
	}
	
	$('.btn-success').click(function(){
		var reJson=[];
		var i=$('.inner_menu_box').eq(0).find('.sselected').index();
		console.info(reCon());
		//var json[i]=;
		
	})
	
	$('#save_all').click(function(){
		//li
		reCon();
		
		
		var reqUrl = "/uapi/mp_config.htm";
				
				
				var welMsg=strjson;
			
				var mpId=$('#mpId').val();
	    	    var reqParams = "welMsg="+welMsg+"&method=addWelcomeConfig&backType=json&mpId="+mpId;
	    	    
	    	    
	        	var successFun = function(result){
	        		alert(result.data);
	        			//跳转管理页面
	        		location.href="/user/mp_list.htm";
	        	};
	        	
	        	var failFun = function(result) {
					alert(result.data);	
				}
		ajaxJsonRequestExt(reqUrl,reqParams,successFun,failFun);
	});
	
});

	$(".id-btn-dialog2").on('click',function(e){
		e.preventDefault();
		$("#dialog-confirm").removeClass('hide').dialog({
			resizable : false,
			modal : true,
			title : "添加视频",
			title_html : true,
			buttons : [{
					html : "<i class='icon-trash bigger-110'></i>&nbsp; 提交视频",
					"class" : "btn btn-danger btn-xs",
					click : function() {
						var youkuUrl=$('.youkuUrl').val();
						var youkuid =youkuUrl.substring(youkuUrl.indexOf('id_')+3,youkuUrl.indexOf('.html'));
						var content="<EMBED height=400 type=application/x-shockwave-flash align=middle width=480 src=http://static.youku.com/v/swf/qplayer.swf?VideoIDS=";
							content+=youkuid;
							content+='=&isAutoPlay=false&isShowRelatedVideo=false&embedid=-&showAd=0 allow.Access="always"></EMBED>';
						$('.content-area').html(content);
					
						$(this).dialog("close");
					}
				},
				{
					html : "<i class='icon-remove bigger-110'></i>&nbsp; Cancel",
					"class" : "btn btn-xs",
					click : function() {
						$(this).dialog("close");
				}
			}]
		});
	});
	
	$(".id-btn-dialog1").on('click', function(e) {
		e.preventDefault();
		showModalDialog("/user/pic_select.htm", "请选择图文",950, 500, successCallBack);
	});
	
	
</script>
<script type="text/javascript">
	window.onload=function()
	{
		$('.add-keyword').click(function(){
			var con1=$('.control-panel input').eq(0).val();
			if(con1)
				{
					$('')
				}
		});
		
		$('#addBt').click(function(){
			$('.add_mask').eq(0).css('height',500+document.documentElement.clientHeight);
			if($('.add_mask').eq(0).css('display') == 'none')
				{
					$('.add_mask').eq(0).css('display','block');
				}
			else{
					$('.add_mask').eq(0).css('display','none');
			}
			$('.add_mask_b1').eq(0).click(function(){
			var con2= $("input[name='add_dialog_middle_input']").val();
			$('.add_mask').eq(0).css('display','none');
			addDl(con2);
			})
			
		});
		$('.add_pop_closed').eq(0).click(function(){
			$('.add_mask').eq(0).css('display','none');
		});
		$('.add_mask_b2').eq(0).click(function(){
			$('.add_mask').eq(0).css('display','none');
		});
		
		
		
		function addDl(con){
			if(!"abc"){
			var did = '#men-' + num;
			var html="<dl class='inner_menu' id='"+did+"' data-type=' ' data-key=' ' data-subtype=' ' data-content=' ' data-imgtextList=' '>";
				html=html+"<dt class='inner_menu_item' id='menu_"+num+"'>";
				html=html+"<a href='javascript:void(0);' class='inner_menu_link'><strong>123</strong></a>";
				html=html+"<span class='menu_opr'>";
				html=html+"<a href='javascript:void(0);' class='icon14_common edit_gray jsEditBt'"+">编辑</a>";
				html=html+"<a href='javascript:void(0);' class='icon14_common del_gray jsEditBt'"+">删除</a>";
				html=html+"</span></dt></dl>";
				
				$(".inner_menu_box").append(html);
				$(".inner_menu_box").height('auto');
			}else{
			var num=$('.inner_menu').length;
				var did = '#men-' + num;
			var html="<dl class='inner_menu' id='"+did+"' data-type=' ' data-key=' ' data-subtype=' ' data-content=' ' data-imgtextList=' '>";
				html=html+"<dt class='inner_menu_item' id='menu_"+num+"'>";
				html=html+"<a href='javascript:void(0);' class='inner_menu_link'><strong>"+con+"</strong></a>";
				html=html+"<span class='menu_opr'>";
				html=html+"<a href='javascript:void(0);' class='icon14_common edit_gray jsEditBt'"+">编辑</a>";
				html=html+"<a href='javascript:void(0);' class='icon14_common del_gray jsEditBt'"+">删除</a>";
				html=html+"</span></dt></dl>";
				
				$(".inner_menu_box").append(html);
				$(".inner_menu_box").height('auto');
			}
		}
		
		
		$('.edit_gray').click(function(){
			var that=this;
			$('.add_mask').eq(0).css('height',500+document.documentElement.clientHeight);
			var con=$(this).parent().parent().find('strong').text();
			//console.log($(this).parent().parent().find('strong').text())
			$("input[name='add_dialog_middle_input']").val(con);
			$('.add_mask').eq(0).css('display','block');
			
			$('.add_mask_b1').eq(0).click(function(){
			var con1= $("input[name='add_dialog_middle_input']").val();
			$(that).parent().parent().find('strong').text(con1);
			$('.add_mask').eq(0).css('display','none');
		})
		})
		$('.del_gray').click(function(){
			$(this).parent().parent().parent().remove();
			
			
		})
		
		setInterval(function(){console.log($('.inner_menu_box').find('dl').length)},2000)
		$('.inner_menu').click(function(){
			$('.msg_tab').eq(0).css('display','block');
			$(this).addClass('sselected').siblings().removeClass('sselected');
			//$(this).siblings().click(function(){$('.content-area').html("");})
			
			if(!"abc"){
				
			}else{
				//console.log('abc');
			}
		})
		
	}
</script>




<script id="ueditor"></script>

<script type="text/javascript" src="/module/ueditor/ueditor.moree.config.js"></script>
<script type="text/javascript" src="/module/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/module/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/module/ueditor/dialogs/image/onlyUpload.js"></script>
<script src="http://style.t305.com/ace/assets/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="http://style.t305.com/mc/js/modules/dialog/main.js"></script>

